$validBorder : rgba(40, 167, 69, 1) !important;
$validBorderFocus : 0 0 0 0.2rem rgba(40, 167, 69, 0.25) !important;

$invalidBorder : rgba(255,10,29,1) !important;
$invalidBorderFocus: 0 0 0 0.2rem rgba(255,10,29,0.25) !important;

input.ng-invalid.ng-touched{
  border-color: $invalidBorder;
}
input.ng-invalid.ng-touched:after{
  content: 'This is a required field';
}
input.ng-invalid.ng-touched:focus{
  box-shadow: $invalidBorderFocus;
}
input.ng-valid.ng-dirty{
  border-color: $validBorder;
}
input.ng-valid.ng-dirty:focus{
  box-shadow: $validBorderFocus;
}
