<div class="row">
  <div class="col">
    <form [formGroup]="shoppingListForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="form-group col-sm-5">
          <label>Name</label>
          <input formControlName="name" name="name" type="text" class="form-control"
                 [ngClass]="{'is-invalid': name.invalid && name.touched,
                            'is-valid': name.valid, '': name.untouched}">
          <span class="invalid-feedback">Please fill in this field</span>
        </div>
        <div class="form-group col-sm-2">
          <label>Amount</label>
          <input formControlName="amount" name="amount" type="text" class="form-control"
                 [ngClass]="{'is-invalid': amount.invalid && amount.touched,
                            'is-valid': amount.valid, '': amount.untouched}">
          <span class="invalid-feedback">Please fill in this field</span>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button type="submit" class="btn btn-outline-secondary"
                  [disabled]="shoppingListForm.invalid">
            {{ editMode ? 'Edit' : 'Add'}}
          </button>
          <button type="button" class="btn btn-outline-secondary ml-3"
                  (click)="onDeleteIngredient()" *ngIf="editMode">
            Delete
          </button>
          <button type="button" class="btn btn-outline-secondary ml-3" (click)="onResetForm()">
            Clear
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
